requests 
beautifulsoup4 
trafilatura 
sentence-transformers 
faiss-cpu 
transformers 
torch
fastapi
uvicorn
lxml[html_clean]
pytest
httpx
docker
markdown==3.4.1
pypdf
cachetools==5.3.0
numpy==1.23.5